/* /////// */
/* GENERAL */
/* /////// */
*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-section{
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}
.container-section-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.transparent-box{
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 2em;
    box-shadow: inset 0 0 10vw 2.5vw black;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.brown{
    color:sandybrown;
}

/* /////////////// */
/* HEADER AND NAV */
/* ////////////// */

.page-header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
}
.logo{
    width: 50%;
}
.page-logo{
    width: 50%;
}
.main-nav{
    width: 50%;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1.5rem;
}
.nav-link{
    color:saddlebrown;
    text-decoration: none;
    font-weight: 700;
}
.nav-link:hover{
    color: #fff;
}
.current-page{
    border-bottom: 2px solid saddlebrown;
}
.current-page:hover{
    border-bottom: 2px solid #fff;
}
@media screen and (max-width: 700px) {
    .container-flex{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .page-logo{
        border-bottom: 3px solid saddlebrown;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-ul li{
        margin-bottom: 0.55em;
    }
}
/* //// */
/* MAIN */
/* //// */

/* SECTION 1 */
.section-1{
    background-image: url("../img/background/landing-page-bg.jpg");
}
.section-1-content{
    min-height: 80vh;
    max-height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5em;
}
.random-quote{
    text-shadow: 2px 2px 5px #000;
}


/* SECTION 2 */
.section-2{
    background-image: url('../img/background/middle-section-4.jpg');
    
}
.section-2-content{
    text-align: center;
}
.section-2-content p{
    font-size: 1.5rem;
}
.coffee-desc{
    margin-bottom: 0.6em;
}
.cta a{
    text-decoration: none;
    display: inline-block;
    /* width: 100px;
    height: 50px; */
    border-radius: 10px;
    font-size: 1.3rem;
    line-height: 50px;
    padding: 0.2em;
}
.cta a:hover{
    padding: 0.3em;
}
.buy-now{
    background-color: rgb(139, 69, 19, 0.85);
    color: #fff;
    margin-right: 0.5em;
}
.buy-now:hover{
    color: sandybrown;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}
.browse-more{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    color: #fff;
}
.browse-more:hover{
    color: sandybrown;
}
@media screen and (min-width: 700px){
    .container-section-flex .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .section-2-content{
        max-width: 600px;
    }
}
/* SECTION 3 */
.section-3{
    background-image: url('../img/background/bottom-section-bg.jpg')
}
.address{
    margin: 1em 0;
}
@media screen and (min-width: 700px){
    .section-3 .container{
        flex-direction: row;
    }
    .section-2-content{
        max-width: 600px;
    }
}

/* /////// */
/* FOOTER */
/* /////// */
.page-footer{
    background-color: #000;
    width: 100%;
    min-height: 15vh;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}
.quote{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color:sandybrown;
    font-size: 2rem;
}
.left-footer{
    display: flex;
    align-items: center;
}
.social ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
}
.social li{
    list-style-type: none;
    margin: 0 0.75em;
}
.social a{
    color: #fff;
    font-size: 1.52rem;
}
.social a:hover{
    color: saddlebrown;
}

/* //////////////////////////////// */
/* SHOP CSS */
/* //////////////////////////////// */
.shop-header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}
.shop-header a{
    color: #fff; 
}
.shop-header a:hover{
    color: saddlebrown;
}
.shop-container{
    background-image: url('../img/background/shop-bg.jpg');
    padding: 2em 0;
}
.bean-listing{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 2em;
}
.bean-listing-img{
    width: 50%;
}
.bean-info{
    width: 50%;
}
.bean-info p{
    margin: 0.5em 0;
}
.add-to-cart{
    padding: 0.3em;
    text-decoration: none;
    color: #fff;
    background-color: saddlebrown;
    border-radius: 25px;
}
.add-to-cart:hover{
    color: sandybrown;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    padding: 0.4em;
}
@media screen and (min-width: 700px){
    .shop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bean-listing{
        width: 45%;
    }
}
@media screen and (min-width: 1200px) {
    .bean-listing{
        width: 31%;
    }
}

/* /////////////// */
/* ABOUT US */
/* /////////////// */
.about-us-container{
    background-image: url('../img/background/about-us-bg.jpg');
    padding: 5em 0;
    box-sizing: border-box;
}
.subtitle{
    margin: 1em 0;
}
.address, .opening-time{
    font-size: 1.6rem;
}
.map{
    margin: 2em 1em;
}
.temp-map{
    width: 100%;
}
@media screen and (min-width: 1200px) {
    .about-us-container .transparent-box{
        display: flex;
    }
    .cafe-info{
        width: 50%;
    }
    .map{
        width: 50%;
    }
}