/* /////// */
/* GENERAL */
/* /////// */
*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
}
.container-section{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* /////////////// */
/* HEADER AND NAV */
/* ////////////// */

.page-header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
}
.logo{
    width: 50%;
}
.page-logo{
    width: 50%;
}
.main-nav{
    width: 50%;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1.5rem;
}
.nav-link{
    color:saddlebrown;
    text-decoration: none;
    font-weight: 700;
}
.nav-link:hover{
    color: #fff;
}
.current-page{
    border-bottom: 2px solid saddlebrown;
}
.current-page:hover{
    border-bottom: 2px solid #fff;
}
@media screen and (max-width: 600px) {
    .container-flex{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .page-logo{
        border-bottom: 3px solid saddlebrown;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-ul li{
        margin-bottom: 0.55em;
    }
}
/* //// */
/* MAIN */
/* //// */

/* SECTION 1 */
.section-1{
    background-image: url("../img/background/landing-page-bg.jpg");

}

/* SECTION 2 */
.section-2{
    background-image: url('../img/background/middle-section-4.jpg')
}
/* SECTION 3 */
.section-3{
    background-image: url('../img/background/bottom-section-bg.jpg')
}

/* /////// */
/* FOOTER */
/* /////// */
.page-footer{
    background-color: #000;
    width: 100%;
    min-height: 20vh;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}
.quote{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: peru;
    font-size: 2rem;
}
.left-footer{
    display: flex;
    align-items: center;
}
.social ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
}
.social li{
    list-style-type: none;
    margin: 0 0.75em;
}
.social a{
    color: #fff;
    font-size: 1.52rem;
}
.social a:hover{
    color: saddlebrown;
}